.contenedor-titulo{
    text-align: center;
}

.titulo{
    font-size: 22px;
}

.titulo-2{
    font-size: 15px;
}

.menu{
    font-size: 14px;
    padding: 0 10px;
}

.contenido{
    padding: 15px;
    text-align: center;
    line-height: 1.35em;
    font-family: roboto-bold, roboto, sans-serif;
    background-color: #F7F7F7;
}

.contenido2{
    text-align: center;
    line-height: 1.75rem;
    background-color: #F7F7F7;
}

.contenido3{
    text-align: center;
    line-height: 1.87rem;
    background-color: #F7F7F7;
}

.subcontenido{
    text-align: center;
    line-height: 1.75rem;
}


.subcontenido1{
    text-align: center;
}


.treecontenido{
    text-align: left;
    line-height: 1.41em;
}

.card-title{
    letter-spacing: 0px;
    margin: 0px;
    font-weight: 500px;
    font-size: 1.714rem;
    line-height: 1.25;
    color: #000000;

}

.imagen1{
    float: right;
    padding-left: 10px;
}



.imagen2{
    float: right;
    padding-left: 10px;

}


.card-text{
    padding-right: 100px;
}


.horario{
    padding-top: 100px;
    background-color: #F7F7F7;
}

.contactanos{
    padding-top: 100px;
}

#app-messenger, #app-whatsapp{
	position: fixed;
	right: 24px;
	bottom: 25px;
	width: 60px;
	z-index: 1000;
	display: none;
}
#app-whatsapp{
	bottom: 95px;
	display: block;
}
#app-messenger i, #app-whatsapp i{
	font-size: 63px;
}
#app-whatsapp i{
	color: #1ebea5;
}
#app-messenger i{
	color: #0084ff;	
}

